<!--<div class="container sized" fxLayoutAlign="center" fxLayoutGap.xs="0">
    <div fxFlex fxFlexOffset.xs="0" class="box-style">
        <div class="img">
            <img src={{imgSrc}}>
        </div>
        <div class="highlight text-center"><br>
            <h3>{{userName}} </h3>
            <p class="size-sub">{{profession}}</p>

        </div>
        <div class="sub">
            <h2>{{role}}<br> {{experience}}
                <button md-mini-fab class="pull-right"><i class="material-icons">info</i></button>
            </h2>
        </div>
    </div>
</div>-->

<md-card>

    <div class="container" fxLayout="row">
        <div fxFlex="100px">
            <img src="{{imgSrc}}" alt="user Image">
        </div>
        <div fxFlex="200px" fxLayout="column" class="data">
            <div fxFlex class="username">{{userName}}</div>
            <div fxFlex class="profession"> {{profession}}</div>
            <div fxFlex class="text"> {{role}} {{experience}}</div>
        </div>

    </div>
</md-card>