.right {
   padding-right: 10px;
   float: right;
   margin: 5px;
}

.card {
   top: 60px;
   max-width: 300px;
   margin: auto;
   background-color: white;
}

.name {
   font-size: 35px;
   font-weight: bold;
   color: #56595e;
   text-shadow: 0px 0px 2px gray;
   padding: 20px;
}


.text {
   margin: auto;
}

.img {
   width: 150px;
   height: 150px;
   border-radius: 100%;
   margin-top: -100px;
}

.center {
   margin: auto;
   text-align: center;
}

h1 {
   text-align: center;
}

.material-icons {
   color: gray;
   font-size: 18px;
}

md-chip {
   min-width: 80px;
}

.chipsIcon {
   margin-top: 8px;
}


@media(min-width:10px){

.downloadCard {
   width: 300px;
   margin: auto;
   padding-top: 20px;
   padding-bottom: 10px;
}
@media(min-width:321px){

.downloadCard {
   width: 350px;
   margin: auto;
   padding-top: 20px;
   padding-bottom: 10px;
}
}

@media(min-width:480px){

.downloadCard {
   width: 370px;
   margin: auto;
   padding-top: 20px;
   padding-bottom: 10px;
}
}
}
