.right {
    padding-right: 10px;
    float: right;
    margin: 5px;
}

md-card {
    top: 60px;
    width: 300px;
    margin: auto;
    color: dimgray;
}

@media(min-width:10px) {
    md-card {
        width: 250px;
    }
}

@media(min-width:330px) {
    md-card {
        width: 300px;
    }
}

.name {
    font-size: 35px;
    font-weight: bold;
    color: dimgray;
    text-shadow: 0px 0px 2px gray;
    padding: 20px;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-top: -100px;
}

.center {
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
}

.downloadCard {
    width: 370px;
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    /*border: 2px solid gray;*/
    /*box-shadow: 2px 2px 10px gray;*/
}

.material-icons {
    color: dimgray;
    font-size: 18px;
}

md-chip {
    min-width: 80px;
    text-align: center;
    margin: 1px;
}

.downloadCard {
    width: 370px;
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}