<div id="profilecard" class="downloadCard">

    <md-card class="card">
        <md-card-title class="center">
            <!-- here’s the avatar -->
            <!--<img src='https://eliaslealblog.files.wordpress.com/2014/03/user-200.png' class="img">-->
            <img src={{cardData.profilepic}} class="img">

            <!-- the username -->
            <div class="name">
                {{cardData.name}}
            </div>
        </md-card-title>
        <hr>
        <div fxLayout="row">
            <div fxFlex="9" class="text">
                <i class="material-icons">business_center</i>
            </div>
            <div fxFlex="25" class="text">
                {{cardData.role}}
            </div>
            <div fxFlex="9" class="text">
                <i class="material-icons">event_available</i>
            </div>
            <div fxFlex class="text">
                {{cardData.profession}}
            </div>
        </div>
        <br>
        <div fxLayout="row">
            <div fxFlex="9" class="text"><i class="material-icons">work</i>
            </div>
            <div fxFlex="25" class="text">
                {{cardData.experience}}
            </div>
            <div fxFlex="9" class="text">
                <i class="material-icons">business</i>
            </div>
            <div fxFlex class="text">
                {{cardData.currentCompany}}
            </div>
        </div>
        <hr>
        <div fxLayout="row">
            <div fxFlex="9" class="text">
                <i class="material-icons">location_on</i>
            </div>
            <div fxFlex="91" class="text">
                {{cardData.location}}
            </div>
        </div>
        <br>
        <div fxLayout="row">
            <div fxFlex="9" class="text">
                <i class="material-icons">email</i>
            </div>
            <div fxFlex="91" class="text">
                {{cardData.email}}
            </div>
        </div>
        <br>
        <div fxLayout="row">
            <div fxFlex="9" class="text"><i class="material-icons">call</i>
            </div>
            <div fxFlex="91" class="text">
                {{cardData.mobileNumber}}
            </div>
        </div>
        <hr>
        <div fxLayout="row">
            <div fxFlex="9" class=" chipsIcon text">
                <i class="material-icons">library_books</i>
            </div>
            <div fxFlex="91">
                <div class="text chips" fxLayout="row" fxLayoutWrap>


                    <md-chip-list>
                        <span *ngFor="let skill of cardData.skills"> 
          <md-chip selected="true"  color="accent" class="chips" title="{{skill.experience}} months">
            <div class="chips">
              <span *ngIf="skill.name" class="chipText">{{skill.name}}</span>
                        <span *ngIf="skill.experience" class="chipBatch">{{skill.experience}}</span>
                </div>
                </md-chip>
                </span>
                </md-chip-list>

            </div>
        </div>
</div>
<br>
<!-- some social links to show off -->
<md-card-actions>
    <div fxLayoutAlign="end">
        <a id="downloadpc">
            <a md-icon-button (click)="download(event)">
                <i class="material-icons">file_download</i>
            </a>
        </a>
    </div>
</md-card-actions>
</md-card>
</div>