<!--switch case for selecting element type-->
<div fxLayout="row">
  <div [formGroup]="form">
    <div [ngSwitch]="elementConfig.elemType">

      <!--===============================
    FORM ELEMENTS
    ===================================-->
      <!--this is the element for input box -->
      <div *ngSwitchCase="'input'">
        <md-input-container class="input">
          <input mdInput [(ngModel)]="fieldData" [formControlName]="elementConfig.elemName" placeholder={{elementConfig.dataDescriptor.label}}>
        </md-input-container>
      </div>


      <!--this is the element for text label only -->
      <div *ngSwitchCase="'label'">
        <div fxLayout="row" class="elements">
          <div fxFlex class="label">
            {{elementConfig.dataDescriptor.label}}
          </div>
        </div>
      </div>

    </div>
    <div class="errorMessage" *ngIf="!isValid">HWLLL is required</div>

  </div>
</div>