<!--Looping through the elements to get each element-->
<div fxLayout={{alignElement}} fxLayoutWrap>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let element of elementConfigColln">
      <sam-dynamic-form-element [elementConfig]="element" [elementData]="viewData" [title]="viewTitle" [form]="form"></sam-dynamic-form-element>
    </div>

    <div fxLayout="row">
      <div fxFlex></div>
      <button md-raised-button (click)="onSubmit()">SAVE</button>
    </div>
  </form>
</div>