md-card
{
    /*margin: 10px 5px 10px 5px;*/
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
@media(min-width:10px){
md-card
{
      min-width: 300px
}
}
@media(min-width:480px){
md-card
{
      min-width: 360px;
}
}
*{
    font-family: Arial, Helvetica, sans-serif;
}